
@{
    ViewBag.Title = "Mathematic";
}

<h2>Mathematic</h2>
<div id="wrapper-container">

    <div class="row">
         <iframe width="800" height="600" src="https://www.youtube.com/embed/7c_UBEfPfOQ" frameborder="0" allowfullscreen></iframe>
            <div id="title-post-send">Add your comment</div>
        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label", @text = "Ваше имя" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Ваше имя" })                
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Text, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Text, new { @class = "form-control1", @placeholder = "Ваш текст" })
                
            </div>
        </div>*@        
        <p>
            @Html.ActionLink("Добавить комментарий", "Create")
        </p>

            </div>
        </div>
    


